body {
    background-color: cadetblue;
}
div.header {
    display: block;
    background-color: aliceblue;
    padding:12px;

}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0px;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    font-weight: bold;
}
ul {
    display: block;
    list-style-type: disc;
    float: right;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
}
nav ul a {
    text-decoration: none;
    margin-top: 0px, 10px;
    padding: 3px;
}
a:hover {
    color:darkkhaki
}   

h2 a {
    text-decoration: none;
}
nav {
    display: inline;
}

.frontimage img {
     width: 100%;
    height: 200px;
 }
.first-project {
    margin-left: 25vw;
    width: 75vw;
}
.first-project div img {
    width: 100%;
    height: 250px;
}

.flex-project {
    margin-left: 25vw;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 75vw;
    height: 200px;
}

.about-me {
    flex: 35%;
    display: inline;
    }
.about-me h3 {
    margin: 30px, 30px;
    padding: 8px;
    float: left;
}
.work h3 {
    margin: 30px, 30px;
    padding: 8px;
    float: left;
}
section ul div p {
    font-size: medium;
}
.tubuyaki {
    display: block;
    margin-right: 10px;
    float: right;

}
.hero-work {
    width: 50%;
}
img {
    max-width:100%;
    height: 150px;
}
  
.contact-me {
    display: inline;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    float: left;  
}
