
.header {
    background-color:bisque;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    align-items: center;
}
.header a {
    color: darkblue;
}
#nav-links li {
    display: inline;

}
#nav-links li a{
    display: inline;
    color: chartreuse;
    padding: 5px;
    margin: 5px;
    background-color: darkblue;

}
.frontimage img {
 width: 100%;
 height: 450px;
 }
.first-project {
    margin-left: 25vw;
    width: 75vw;
}
.first-project div img {
    width: 100%;
    height: 250px;
}

.flex-project {
    margin-left: 25vw;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 75vw;
    height: 200px;
}

.about-me {
    flex: 35%;
    
}
.about-me h3 {
    margin: 30px, 30px;
    padding: 8px;
    float: left;
}
.tubuyaki {
    display: block;
    margin-right: 10px;
    float: right;

}
.hero-work {
    width: 50%;
}
img {
    max-width:100%;
    height: 150px;
}

   
div .contact-me {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
    
    float: left;

  
  
  
}
